 <%= form_with model: @comment do |form| %>
   <ul>
     <li>
       <%= hidden_field_tag :post_id, @comment.id %>
       <%= form.label :CommentEdit %><br><br>
       <%= form.text_field :body %><br><br>
       <%= form.submit %><br><br>
     </li>
   </ul>
 <% end %>
 <%= link_to 'Edit', edit_comment_path(@comment) %> |
 <%= link_to 'Back', comments_path %>