

<center>
<body style="background-color:darkgray; ">
<h1 style="color:Tomato;"> from </h1>


<%= form_with model: @post do |form| %>

 <% if @post.errors.any? %>
   <h2>Errors:</h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>

 <% end %>

    
  <%= form.label :title %><br><br>
  <%= form.text_field :title %><br><br>


  <u><%= form.label :image %></u><br><br>
  <%= form.file_field :image %><br><br>
  <td><%image_tag @post.image if @post.image.attached? %></td>


  <%= form.label :description %><br><br>
  <%= form.text_area :description,size: "60x10" %><br><br>

  <%= form.submit %><br><br>

<% end %>
</body></center>

