<h2 style="color:Tomato;"> New Post </h2>
<%= form_with model: @post do |form| %>
  <% if @post.errors.any? %>
    <h2>Errors:</h2>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>  
  <h3><%= form.label :title %>
  <%= form.text_field :title %><br></h3>
  <h3><%= form.label :image %>
  <%= form.file_field :image %><br></h3>
  <td><%image_tag @post.image if @post.image.attached? %></td>
  <span><h3><%= form.label :description %></h3></span>
  <span><%= form.text_area :description,size: "60x10" %></span>
  <%= form.submit 'submit', class:"btn btn-primary" %>
  <%= link_to 'Back', posts_path, class:"btn btn-primary" %>
<% end %>

