<!-- <center>
<body style="background-color:yellow; ">


<h1> Post</h1>
<div>
	<h3><%= @post.title%></h3>
	<img src="rails2.jpeg">
	<p><%= @post.description%></p>
</div>



 <h2>Comments</h2>
<table class="comment-table">
  <thead>
    <tr>
      <th>Comment</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @post.comments.each do |c|%>
      <tr>
        <td><%= c.body%></td>
        <td><%= link_to 'Show', comment_path(c) %> ||
          <%= link_to 'Edit', edit_comment_path(c) %> ||
          <%= link_to 'Destroy', comment_path(c),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
 

<h1 style="color:Tomato;"> Comment From  </h1>

<%= form_with model: Comment.new do |form| %>
  
  <ul>
    <li>
      <%= hidden_field_tag :post_id, @post.id %>
      <%= form.label :Comment %><br><br>
      <%= form.text_field :body %><br><br>
      <%= form.submit %><br><br>
    </li>
  </ul>

<% end %>



</body></center> 

 -->