

<center>
<body style="background-color:yellow; ">



   
<h1><u> User Post </u></h1>
<div>

 <h3><u> Title</u></h3><%= @post.title%><br>

  <% if @post.image.attached? %>
    <h3><u>Image</u></h3><%= image_tag @post.image, style:"width: 100px; height: 100px;" %><br>
  <% end %>


 <!-- <img src="rails2.jpg"> --> 
  <h3><u>Descripation</u></h3><p><%= @post.description%></p><br>

 <h3>
  <%= @post.likes.count %> Likes

  <% like = current_user.likes.find_by(post: @post) %>
  <% if like.nil? %>

      <%=  button_to "Like", likes_path, params: { like: { post_id: @post.id } }, method: :post %>

    
   <% else %>

      <%=  button_to "Unlike", like_path(like), method: :delete %>  
  
   <% end %>
 </h3> 
</div>

<% if flash[:error].present? %>
  <div class="alert alert-danger">
    <% flash[:error].each do |error|%>
      <%= error %>
    <% end %>
  </div>
<% end %>

  


<h2><u>Comments</u></h2>
<table class="comment-table">
  <thead>
    <tr>
      <th>Comment</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @post.comments.each do |c|%>
      <tr>
        <td><%= c.body%></td>
        <td><%= link_to 'Show', comment_path(c) %> ||
          <%= link_to 'Edit', edit_comment_path(c) %> ||
          <%= link_to 'Destroy', comment_path(c),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1 style="color:Tomato;"> Comment From  </h1>

<%= form_with model: Comment.new do |form| %>
  
  <ul>
    <li>
      <%= hidden_field_tag :post_id, @post.id %>
      <%= form.label :Comment %><br><br>
      <%= form.text_field :body %><br><br>
      <%= form.submit %><br><br>
    </li>
  </ul>

<% end %>

 <%= link_to 'index post', posts_path %><br>
 <%= link_to 'from post', new_post_path %>



 </body>
</center>