<body>
  <div class= "container">
    <div class="Links">
      <div>
       <%= link_to 'Index post', posts_path, class:"btn btn-primary" %>
       <%= link_to 'New post', new_post_path, class:"btn btn-primary" %>
       <%= link_to 'Back', posts_path, class:"btn btn-primary" %>
      </div>
    </div>

    <div class="container">
      <div class="post_title">
         <h1><%= @post.title.titleize()%></h1>
      </div>

      <div class="post_title">
        <h1><%= @post.likes.count %> Likes</h1> 
      </div>
    </div>
    
    <div style="width: 100%;">
      <div class="leftpane">
        <div class="card" style="width: 34rem;">
          <h5 class="card-title"><%= @post.user.name %></h5>
          <%= image_tag @post.image%>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"><%= @post.description%></p>
          </div>
          <div>
        <%= form_with model: Comment.new do |form| %>      
    <ul>
      <li>
        <span>
        <%= hidden_field_tag :post_id, @post.id %>
        <%= form.text_field :body , placeholder: "Enter your Comment"%>
      </span>
      <span>
        <%= form.submit 'submit', class: "btn btn-success" %><br><br>
      </span>
      </li>
    </ul>
        <% end %>
       </div> 
        </div>
      </div> 
    </div> 
  </div>

  <div >
      <div class="rightpane">
        <h2>Comments</h2>
        <table >
          <thead>
            <tr>
              <th>Name</th>
              <th>Comment</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @post.comments.each do |c|%>
              <tr>
                <td><%= c.user.name %></td>
                <td><%= c.body%></td>
                <td>
                  <%= link_to 'Edit', edit_comment_path(c) %> ||
                  <%= link_to 'Destroy', comment_path(c),
                            method: :delete,
                            data: { confirm: 'Are you sure?' } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
</body>  