<%= link_to 'index pag', user_profile_index_path %><br><br>
		
 <h2><u>Users Name</u></h2>

 
 <% User.all.each do |user| %>
	  <%= user.name %><br>
	  <%= user.id %><br>

	
	  <% if request %>

	       <%= button_to " send request", friendshipes_path(sender_id: current_user.id, receiver_id: user.id, confirmation: true) %>

	    
	   <% else %>

	       <%= button_to "remove request", friendshipes_path, method: delete %>  
	  
	   <% end %>

 <% end %>

 