<%= link_to 'index pag', user_profile_index_path %><br><br>
		
 <h2><u>Users Name</u></h2>

  
 <% User.all.each do |user| %>
	  <%= user.name %><br>
	  <%= user.id %><br>

     

	  <% req = Friendship.find_by(sender_id: current_user.id, receiver_id: user.id)%>
	  <% if req.nil? %>


	       <%= button_to " send request", friendshipes_path(sender_id: current_user.id, receiver_id: user.id, confirmation: true) %>
	       	
	   <% else %>

	       <%= button_to "remove request", friendshipe_path(req), method: :delete %>  
	  
	   <% end %>
 
 <% end %>

 