<!--   <%if confirmation: false%>
	       dhdg
	       <%end%>
 -->

 =================================

 <% Friendship.all.each do |x| %>
<%= x.confirmation %><br>
	


<% end %>

===============================

<% Friendship.all.each do |x| %>
	<% if x.confirmation == true %>
	  <%= x.confirmation %><br>
	<% end %>

<% end %>

====================================

<% Friendship.all.each do |x| %>
	<% if x.confirmation == true %>
	  <%= x.confirmation %><br>
	<% end %>

	<% User.all.each do |user| %>
	  <%= user.name %><br>
	  <%= user.id %><br>
	  <% end %>

<% end %>

===========================

<h1>Friend request aceapt</h1>

<table>

	<thead>
			    <tr>
			    	<th> Friend request aceapt User </th>
				    
			    </tr>
	</thead>

			<tbody>

				<td>
					<% User.all.each do |user| %>
						  <%= user.name %><br>
          <% end %>
				</td>

	      <td>
						<% Friendship.all.each do |x| %>
							<% if x.confirmation == true %>
							  <%= x.confirmation %><br>
							<% end %>
						<% end %>
        </td>
      </tbody>
</table>
=======================

<% Friendship.all.each do |x| %>
	<% if x.confirmation == true %>
	  <%= x.confirmation %><br>
	  
	<% end %>
<% end %>
===================

<% User.all.each do |user| %>
     <%= user.id %><br>

	 <%= user.name %><br>
	 <% req = Friendship.find_by(confirmation: true) %>
      <% if req.nil? %>
	         <%= button_to " accept request", friendshipes_path(sender_id: current_user.id, receiver_id: user.id, confirmation: true) %>
	    <% else %>

	         <%= button_to " send request", friendshipes_path(sender_id: current_user.id, receiver_id: user.id, confirmation: false) %>
	       	
	  
	   <% end %>   	
	 
     
<% end %>
===========================
user_profile/edit.html.erb

<h1> Edit From </h1>

<%= render 'form' %>
 
<%= link_to 'Back', posts_path %> -->



<h1>Edit Post Information</h1>
 
<%= form_with(model: @user_profile, local: true) do |form| %>
  
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :image %><br>
    <%= form.text_area :image %>
  </p>

   <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.label :CommentEdit %><br>
    <%= form.text_field :body %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>

<% end %>
 
<%= link_to 'Back', posts_path %>
=====================

<% User.all.each do |user| %>
     <%= user.id %><br>

	 <%= user.name %><br>
	
	         <%= button_to " accept request", friendshipes_path(sender_id: current_user.id, receiver_id: user.id, confirmation: true) %> 
<% end %>

==========================

<% Friendship.where(receiver_id: current_user.id).each do |x| %>
	<% if x.confirmation == true %>
	<%#= user.name %>
	<%#= x.receiver_id %>
	<%#= x.sender_id %>
	  <%= x.confirmation %><br>
	  
	<% end %>

<% end %>
==================

<% Friendship.where(receiver_id: current_user.id).each do |x| %>
	
	    <%= x.Friendship_id %><br>
<% end %>

==========================

<% Friendship.all.each do |x| %>
	

	    <%= x.sender_id %><br>
	    <%= x.sender_id %><br>
	    


	  
	

<% end %>
